// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// Font Variables
$roboto: 'Roboto';

$font-stack:    $roboto, sans-serif;
$prim-color-dark: #675072;
$prim-color-normal: #9D7DA5;
$prim-color-light: #E8C2E4;
$secnd-color-light: #8142BF;
$secnd-color-dark: #57138C;