@import "../utils/variables.scss";

.summaryForm{
    display: flex;
    width: 100%;
    position: absolute;
    max-height: 80vh;
    min-height: 30vh;
    left: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &>*{
        max-height: 65vh;
        display: grid;
        grid-template-columns: 50%;
        grid-row-gap: 1rem;
        label{
            grid-column-start: 2;
        }
        input[type=button]{
            width: 3rem;
            padding: .3rem .8rem;
            font-size: 1.2rem;
            float: right;
            color: white;
            background: none;
            border: 2px solid $prim-color-normal;
            border-radius: 2rem;
            text-align: center;
            @media screen and (max-width: 34rem) {
                float: none;
                margin: 0 auto;
                display: block;
                font-size: 1rem;
            }
        }

    }
    &>label:first-child{
        display: block;
        max-width: 26rem;
        width: 26rem;
        line-height: 2.4rem;
        box-sizing: border-box;
        overflow: hidden;
        @media screen and (max-width: 34rem) {
            width: 90%;
            margin: 1rem auto;
            text-align: center;
            line-height: 2rem;
        }
        input{
            padding: .3rem .8rem;
            font-size: 1.2rem;
            float: right;
            color: white;
            background: none;
            border: 2px solid $prim-color-normal;
            border-radius: 2rem;
            @media screen and (max-width: 34rem) {
                float: none;
                margin: 0 auto;
                display: block;
                font-size: 1rem;
            }
        }
        
    }
    &>input:last-child{
        overflow: hidden;
        display: block;
        padding: .3rem .8rem;
        font-size: 1.2rem;
        float: right;
        color: white;
        background: none;
        border: 2px solid $prim-color-normal;
        border-radius: 2rem;
        @media screen and (max-width: 34rem) {
            float: none;
            margin: 0 auto;
            display: block;
            font-size: 1rem;
        }
    }
}